<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.poviraev.Car" name="Adam" >
        <constructor-arg name="id" value="1"/>
        <constructor-arg name="model" value="Audi"/>
        <constructor-arg name="color" value="Black"/>
    </bean>

    <bean class="com.poviraev.Car" name="Eva" >
        <constructor-arg name="id" value="2"/>
        <constructor-arg name="model" value="Bmw"/>
        <constructor-arg name="color" value="White"/>
    </bean>
</beans>